<button {{action "edit"}} class="btn btn-primary">Edit</button>
<h2>{{name}}</h2>
<div>{{bio}}</div>
<div>DOB: {{born}}</div>
<h3>Appearances:</h3>
<ul>
{{#each movie in appearances}}
<li>{{link-to movie.name "movie" movie}}</li>
{{/each}}
</ul>