<button {{action "edit"}} class="btn btn-primary">Edit</button>
<h2>{{name}}</h2>
<div>{{bio}}</div>
<div>DOB: {{born}}</div>
<div class="row">
	<div class="col-sm-2">
		<h3>Appearances:</h3>
		<ul>
			{{#each movie in appearances}}
			<li>{{link-to movie.name "appearances.show" movie}}</li>
			{{/each}}
		</ul>
	</div>
	<div class="col-sm-10">
		{{ outlet }}
	</div>
</div>
