
{{#if isEditing}}
<button {{action "save"}} class="btn btn-success">Save</button>
<button {{action "cancel"}} class="btn btn-danger">Cancel</button>
<form role="form">
	<div class="form-group">
		<label for="name">Name</label>
		{{input class="form-control" id="name" value=name }}
		<label for="year">Year</label>
		{{input class="form-control" id="year" value=year }}
		<label for="description">Description</label>
		{{textarea class="form-control" id="description" rows="7" value=description }}
	</div>
</form>
{{else}}
{{#if isSuccess}}
<div class="alert alert-success">Successfully updated {{this.name}}</div>
{{/if}}
<button {{action "edit"}} class="btn btn-warning">Edit</button>
<h2>{{name}} ({{year}})</h2>
<div>{{description}}</div>
{{/if}}
{{outlet}}
